<div class="container">
    {{#each ideas}}
    <div class="card bg-light text-blue border-primary mx-2 my-3">
        <div class="card-body">
            <div class="card-header">
                <h6 class="card-title">
                {{this.title}}
                <spna>
                    <form action="/ideas/{{this._id}}?_method=DELETE" method="POST" class="d-inline float-right">
                          <button type="submit" class="btn btn-link">
                              <i class="fas fa-times"></i>
                          </button>
                    </form>
                    
                    <a href="/ideas/edit/{{this._id}}" class="btn btn-link float-right"><i class="fas fa-pencil-alt"></i></a>
                </spna>
            </h6>
            </div>
            <p class="card-text pt-2 px-1">
                {{this.detailes}}
            </p>
        </div>
    </div>
    {{else}}
    <p class="lead m-5">There is no ideas added.</p>
    {{/each}}
</div>

